{{- range .Values.deployments }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .name }}
  namespace: {{ template "app.namespace" $ | default "default" }}
spec:
  selector:
    matchLabels:
      app: {{ .name }}
  replicas: {{ .replicas | default 1 }}
  template:
    metadata:
      labels:
        app: {{ .name }}
        version: "{{ $.Values.version }}"
    spec:
      {{- $context := merge (dict "isStatefulSet" false) $ -}}
      {{- include "app.podSpec" (merge (dict "context" $context) .) | trim | nindent 6 }}
---
{{- end }}
