{{- range (concat .Values.deployments .Values.statefulSets) }}
{{- if .secretProviderClass }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: secrets-{{ .name }}
  namespace: {{ template "app.namespace" $ | default "default" }}
spec:
  provider: infisical
  parameters:
    infisicalUrl: {{ .secretProviderClass.infisicalUrl | default "https://infisical.masterofcubesau.com" }}
    authMethod: {{ .secretProviderClass.authMethod | default "kubernetes" }}
    useDefaultAudience: {{ .secretProviderClass.useDefaultAudience | default "true" | quote }}
    identityId: {{ .secretProviderClass.identityId | default "914bf541-154a-498e-abc8-25955b59dcb6" }}
    projectId: {{ required "projectId is required in secretProviderClass" .secretProviderClass.projectId }}
    envSlug: {{ $.Values.environment }}
    secrets: |
      {{- range .secretProviderClass.secrets }}
      - secretPath: {{ .secretPath | default "/" | quote }}
        fileName: {{ required "fileName is required for each secret" .fileName | quote }}
        secretKey: {{ required "secretKey is required for each secret" .secretKey | quote }}
      {{- end }}
---
{{- end }}
{{- end }}
