{{- range .Values.statefulSets }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .name }}
  namespace: {{ template "app.namespace" $ | default "default" }}
spec:
  serviceName: {{ .serviceName | default .name }}
  replicas: {{ .replicas | default 1 }}
  updateStrategy:
    type: {{ .updateStrategy | default "RollingUpdate" }}
  selector:
    matchLabels:
      app: {{ .name }}
  template:
    metadata:
      labels:
        app: {{ .name }}
        version: "v1" # hard coding to reduce unnecessary restarts on statefulsets
    spec:
      {{- $context := merge (dict "isStatefulSet" true) $ -}}
      {{- include "app.podSpec" (merge (dict "context" $context) .) | trim | nindent 6 }}
  volumeClaimTemplates:
    {{- range .volumes }}
    - metadata:
        name: {{ .name }}
      spec:
        accessModes:
          - {{ .accessMode | default "ReadWriteOncePod" }}
        {{- if .storageClass }}
        storageClassName: {{ .storageClass }}
        {{- end }}
        resources:
          requests:
            storage: {{ .size | default "1Gi" }}
    {{- end }}
---
{{- end }}
