{{- range .Values.deployments }}
{{- if .volumes }}
{{- range .volumes }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .name }}
  namespace: {{ template "app.namespace" $ }}
spec:
  accessModes:
    - {{ .accessMode | default "ReadWriteOncePod" }}
  storageClassName: {{ .storageClass | default "local-path" }}
  resources:
    requests:
      storage: {{ .size }}
---
{{- end }}
{{- end }}
{{- end }}
