apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "infisical-secret.fullname" . }}
  namespace: {{ include "infisical-secret.namespace" . }}
  labels:
    {{- include "infisical-secret.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  provider: infisical
  parameters:
    infisicalUrl: {{ .Values.infisical.url | quote }}
    authMethod: {{ .Values.infisical.authMethod | quote }}
    useDefaultAudience: {{ .Values.infisical.useDefaultAudience | quote }}
    identityId: {{ .Values.infisical.identityId | quote }}
    projectId: {{ required "infisical.projectId is required" .Values.infisical.projectId | quote }}
    envSlug: {{ .Values.infisical.envSlug | quote }}
    secrets: |
      {{- range .Values.secrets }}
      - secretPath: {{ .secretPath | default "/" | quote }}
        fileName: {{ include "infisical-secret.secretFileName" . | quote }}
        secretKey: {{ required "secretKey is required for each secret" .secretKey | quote }}
      {{- end }}
  {{- if .Values.syncAsKubernetesSecret.enabled }}
  secretObjects:
    - secretName: {{ include "infisical-secret.kubernetesSecretName" . }}
      type: {{ .Values.syncAsKubernetesSecret.type | default "Opaque" }}
      data:
        {{- range .Values.secrets }}
        - objectName: {{ include "infisical-secret.secretFileName" . | quote }}
          key: {{ include "infisical-secret.secretEnvName" . | quote }}
        {{- end }}
  {{- end }}
