name: Deploy Helm charts
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy-charts:
    name: Deploy Helm charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout configuration
        uses: actions/checkout@v6

      - name: Deploy web-app chart
        run: |
          for chart_dir in charts/*; do
            if [ -d "$chart_dir" ]; then
              echo "Deploying chart from $chart_dir"
              cd "$chart_dir"
              helm package .
              CHART_PACKAGE=$(ls -1 | grep .tgz | head -1)
              curl --user ${{ secrets.ORG_CHARTMUSEUM_USER }}:${{ secrets.ORG_CHARTMUSEUM_PASS }} --data-binary "@$CHART_PACKAGE" https://chartmuseum.masterofcubesau.com/api/charts
              cd - > /dev/null
            fi
          done
